In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score
from sklearn.preprocessing import StandardScaler

In [19]:
data = pd.read_csv('all/train.csv',delimiter=',')

Os atributos preditores, listados a seguir, são de ordem quantitativa:

1. Age (idade, em anos)
2. BMI (índice de massa corporal, kg/m2)
3. Glucose (mg/dL)
4. Insulin (insulina, µU/mL)
5. HOMA
6. Leptin (ng/mL)
7. Adiponectin (µg/mL)
8. Resistin (ng/mL)
9. MCP-1(pg/dL)

O atributo alvo, Classification, denota os seguintes resultados:

1. Pessoa saudável
2. Pessoa acometida por câncer de mama

In [20]:
data.head()

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,114,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720,1
1,104,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450,2
2,90,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730,1
3,8,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049,2
4,9,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499,1

In [21]:
data_novo = data.dropna(axis=0)

In [22]:
data_novo.head()

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,114,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720,1
1,104,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450,2
2,90,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730,1
3,8,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049,2
4,9,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499,1

In [23]:
#separando id e target
data_id = data_novo['id']
y = data_novo['Classification']

In [24]:
X = data_novo.drop('Classification',axis=1)

In [25]:
X.head()

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,114,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720
1,104,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450
2,90,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730
3,8,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049
4,9,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499

In [26]:
X.count()

id             92
Age            92
BMI            92
Glucose        92
Insulin        92
HOMA           92
Leptin         92
Adiponectin    92
Resistin       92
MCP.1          92
dtype: int64

In [27]:
X = X.drop('id',axis=1)

In [28]:
X.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720
1,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450
2,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730
3,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049
4,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499

In [29]:
X.shape[0]

92

In [30]:
# Criação do modelo

In [31]:
param1 = {'hidden_layer_sizes':[(5,4),(4,5),(3,6),(9,),(8,1),(6,3),(1,8)],
          'activation':['relu','tanh','logistic'],'learning_rate_init':[0.01,0.1,0.001]}

In [32]:
model = MLPClassifier(solver='lbfgs')

In [33]:
clf = GridSearchCV(model,param1,cv=5)

In [35]:
scaler = StandardScaler()  
# Don't cheat - fit only on training data
scaler.fit(X)  
X = scaler.transform(X)  
# apply same transformation to test data
#x_test = scaler.transform(x_test)

In [36]:
X

array([[-5.87680465e-01, -1.15278739e+00, -6.32991592e-01,
        -6.91029932e-01, -5.74386951e-01, -2.06745373e-02,
         3.94564566e+00, -9.20197994e-01, -1.04244854e+00],
       [ 1.14443038e+00,  5.43874060e-01,  3.12411979e+00,
        -2.89406347e-01,  1.67547890e-02,  1.24460148e+00,
        -1.92881888e-02, -2.44819027e-01, -1.33364129e+00],
       [-1.94862470e+00, -9.86133071e-01, -7.43494868e-01,
        -5.72608682e-01, -5.05565906e-01, -3.49180035e-01,
         1.90933046e+00, -7.74039882e-01, -6.57400011e-01],
       [-1.54652754e-01, -7.13301878e-01, -5.22488316e-01,
        -6.07524038e-01, -5.16006520e-01, -9.72418546e-01,
        -9.19801471e-01, -3.56075867e-01,  3.56643168e-01],
       [ 7.73263770e-01,  1.47005042e+00,  3.06286254e-01,
        -4.21696753e-01, -3.37559033e-01,  2.99056051e+00,
        -4.81674863e-01,  5.40636027e+00, -8.15922858e-01],
       [-7.73263770e-01, -1.40778858e+00, -5.22488316e-01,
        -2.36742351e-01, -2.81469737e-01, -6.86163094e-01,
         1.43461536e+00, -5.73273245e-01, -1.44674792e+00],
       [-9.58847075e-01, -2.20567298e-01,  8.52797021e-02,
         1.16763087e+00,  7.83414843e-01,  9.36012949e-01,
         4.67457747e-01,  1.04831888e+00,  8.26070374e-01],
       [-7.11402668e-01,  3.23970673e-01, -3.01481764e-01,
        -5.12185718e-01, -4.42052174e-01, -1.69143127e-01,
        -5.03327540e-01,  6.24502955e-02,  3.13167809e-01],
       [-6.49541567e-01,  1.08600257e+00, -1.90978488e-01,
        -4.11610094e-01, -3.67053766e-01, -4.42433208e-01,
        -1.46823588e-01, -4.72889927e-01, -9.87315372e-01],
       [ 5.87680465e-01, -1.43175179e-02, -3.01481764e-01,
        -3.83289861e-01, -3.56497146e-01, -1.16259040e-01,
        -3.60502064e-01, -6.48343906e-01, -9.34643788e-01],
       [ 7.73263770e-01,  9.49466502e-01, -1.35726850e-01,
        -4.42645966e-01, -3.84251777e-01, -6.30264174e-01,
         2.25579777e-01, -2.40161241e-01, -7.94958369e-01],
       [ 1.54652754e-01,  1.80969219e-01, -1.01975306e+00,
        -6.60091047e-01, -5.69891686e-01, -5.30811784e-01,
         8.84866938e-01,  1.35813393e+00,  1.22589787e+00],
       [-1.26815258e+00,  1.28576689e+00, -8.53998144e-01,
        -3.30140929e-01, -3.68358843e-01, -8.87987334e-01,
        -7.26982118e-01,  7.57571082e-02,  1.87058972e-01],
       [ 4.63958262e-01, -1.11419587e+00,  1.40531340e-01,
        -4.16459449e-01, -3.45882522e-01, -7.86807641e-01,
        -7.66929039e-01, -6.95577836e-02, -3.97841767e-01],
       [-4.63958262e-01, -1.28580966e+00, -9.64501420e-01,
        -7.13239978e-01, -5.98197350e-01, -1.09711817e+00,
        -8.94166856e-01,  6.55619340e-01,  6.80508713e-01],
       [ 8.96985973e-01, -4.54003819e-01,  9.14054272e-01,
         3.88949901e-02,  8.73739390e-02, -4.22548029e-01,
        -6.67437258e-01,  2.24586778e+00,  8.76886303e-01],
       [-1.14443038e+00, -1.05849719e+00, -2.52235739e-02,
        -4.59036786e-01, -3.87963995e-01, -9.85632944e-01,
        -7.68643682e-01,  7.68974627e-02, -1.01930018e+00],
       [ 9.58847075e-01,  2.74074771e-01, -6.88243230e-01,
         9.26258441e-02, -9.53948017e-02, -1.22976471e-02,
        -1.05021350e+00, -7.10888475e-04, -9.15273016e-01],
       [ 1.08256928e+00,  1.76451481e-01, -4.11985040e-01,
        -6.77160777e-01, -5.55883863e-01,  2.16342179e-01,
        -3.60487893e-01,  2.87268776e-01,  1.58933798e-01],
       [-7.73263770e-01, -1.64873458e+00,  1.02455755e+00,
         5.71839110e-01,  5.50386149e-01, -7.39677699e-01,
         1.44170066e+00, -8.15799343e-01, -9.51117465e-01],
       [ 5.87680465e-01,  7.37935988e-01, -3.01481764e-01,
        -7.26401760e-02, -1.50266026e-01,  1.00258830e+00,
         2.25575927e-02,  6.90906084e-01,  1.83063014e+00],
       [ 1.26815258e+00, -3.75736525e-01, -5.77739954e-01,
        -5.25085002e-01, -4.66993639e-01, -7.04707759e-01,
        -6.27494187e-02, -2.41285534e-01, -1.04809138e-01],
       [-2.78374957e-01,  6.08367274e-01, -4.67236678e-01,
         1.96088837e+00,  1.13482849e+00,  1.18352168e-01,
        -5.56566484e-01,  7.60291034e-01,  7.65701607e-01],
       [ 7.73263770e-01,  3.27022656e-01, -3.56733402e-01,
         6.88640043e-02, -6.39859559e-02,  9.66007620e-01,
        -2.70632119e-01, -8.23026942e-01, -9.66552858e-01],
       [-7.11402668e-01, -1.84987605e-01, -1.90978488e-01,
        -6.46318879e-01, -5.26331126e-01,  1.46448822e+00,
         2.69792049e-01, -3.06655151e-01, -8.00992405e-01],
       [ 1.20629148e+00, -1.14711687e-01, -8.04752119e-02,
         3.95322586e-01,  2.00654596e-01,  4.68957609e-01,
        -1.20381248e-01, -5.10987404e-01, -4.57011301e-01],
       [-1.14443038e+00, -8.89754669e-01, -1.13025633e+00,
        -4.08506507e-01, -4.35265775e-01, -6.24170927e-01,
         1.09877214e+00, -4.35948865e-01, -1.12671045e+00],
       [-1.02070818e+00, -2.71478927e-02,  4.16789530e-01,
        -7.33413295e-01, -5.66295475e-01, -6.73849436e-01,
        -4.83531212e-01,  9.02249107e-01, -7.22433164e-01],
       [-7.11402668e-01, -1.29857980e+00,  3.61537892e-01,
         3.74179398e-01,  2.65270393e-01, -1.02751210e+00,
         1.53899600e+00,  6.62975429e-01,  9.59519644e-02],
       [-5.25819364e-01, -8.57628535e-01, -1.40651452e+00,
        -7.06741842e-01, -6.09943040e-01, -9.66076270e-01,
        -6.99622541e-02, -5.44700137e-01, -3.31132843e-01],
       [ 1.20629148e+00, -1.34790520e-01,  8.03550996e-01,
         1.57284298e+00,  1.31707520e+00, -2.78816277e-01,
        -7.45446410e-01, -5.04691362e-01, -1.50281838e+00],
       [-1.54652754e-01,  1.66226510e+00,  1.30081574e+00,
         1.85830448e-01,  2.68402578e-01,  3.29723099e+00,
        -3.09785487e-01, -7.80464415e-01, -9.58628452e-01],
       [-7.11402668e-01, -1.50818275e+00, -1.90978488e-01,
        -6.35650297e-01, -5.19080700e-01, -1.02738493e+00,
         9.17388464e-01, -5.57211914e-01, -1.03566340e+00],
       [-3.40236059e-01, -1.65663473e-02, -1.01975306e+00,
        -5.95400650e-01, -5.33146527e-01, -3.68148578e-01,
        -9.92510819e-01, -3.53618483e-01, -1.52052614e-01],
       [ 1.26815258e+00,  1.56948081e+00, -1.07500470e+00,
        -5.92878986e-01, -5.34480605e-01, -2.78376503e-01,
        -2.93404273e-01,  1.99397234e-01,  3.03697023e-01],
       [ 7.73263770e-01,  1.35149320e-01,  6.93047720e-01,
        -1.15023539e-01, -6.49720139e-02, -6.51272631e-01,
        -6.95509216e-01,  1.37047147e-01, -5.31676191e-01],
       [-9.27916524e-02,  8.44052624e-01, -1.90978488e-01,
         6.44094500e-01,  3.49317333e-01,  5.39554500e-01,
         1.16537011e-01, -6.11410876e-01, -1.22014979e-01],
       [ 1.82490250e+00, -1.33729179e+00, -1.90978488e-01,
        -6.25078703e-01, -5.11917279e-01, -1.07775224e+00,
        -7.61940988e-01, -3.37460784e-01,  7.94902935e-01],
       [-8.35124872e-01, -2.42714252e-01,  3.06286254e-01,
         5.44129263e-02,  1.71318111e-02, -9.13467704e-01,
        -5.35055513e-01,  1.06121054e-01,  8.98428318e-01],
       [-8.96985973e-01,  3.06321378e-01,  1.40531340e-01,
        -5.64655739e-01, -4.53014818e-01, -7.83035126e-01,
        -4.96043852e-01,  3.12337860e+00,  1.64043492e+00],
       [ 1.63931919e+00, -1.42174337e+00, -1.90978488e-01,
        -6.67171105e-01, -5.40483958e-01, -9.64131730e-01,
        -6.75486158e-01, -8.60449843e-01, -1.68062377e-01],
       [-7.11402668e-01,  1.86016208e+00, -6.88243230e-01,
        -3.13653122e-01, -3.44113418e-01,  6.85622880e-01,
        -7.90579771e-01, -4.87786811e-01,  2.02396533e-01],
       [ 1.76304140e+00, -1.65663473e-02,  5.55519186e+00,
         4.05600373e+00,  6.51951694e+00,  2.32296846e+00,
        -3.25132246e-01,  3.24733995e+00,  1.75567491e+00],
       [-8.35124872e-01,  1.33542184e+00, -3.56733402e-01,
         1.28023290e+00,  7.31240777e-01,  2.21084315e-01,
        -2.68549041e-01, -6.47934342e-01,  1.38292484e+00],
       [-2.01048580e+00, -1.82743620e+00, -4.11985040e-01,
        -3.76985699e-01, -3.59774338e-01, -9.62213681e-01,
         3.66506778e+00, -6.36715502e-01,  3.47715192e-01],
       [-1.70118029e+00,  9.03445815e-01, -6.32991592e-01,
        -4.05790868e-01, -3.96374489e-01,  9.84425122e-01,
        -5.64912967e-01,  7.88992632e-01,  1.20851530e+00],
       [ 5.25819364e-01,  8.59111750e-01,  8.52797021e-02,
        -4.13549836e-01, -3.47883640e-01,  1.82478457e+00,
         1.74920268e+00, -3.57248344e-01, -6.56390130e-01],
       [-1.26815258e+00,  1.61713617e-01, -5.22488316e-01,
        -5.47876971e-01, -4.78188297e-01, -6.31334467e-01,
        -2.26178947e-01, -4.51697000e-01,  3.84518890e-02],
       [-4.63958262e-01, -9.87237407e-01, -1.90978488e-01,
        -6.56405537e-01, -5.33175529e-01, -1.07074236e+00,
         4.93659186e-01, -3.58244146e-01,  2.64153749e-02],
       [ 1.33001368e+00, -4.96209528e-01, -1.95903090e+00,
        -6.29055175e-01, -5.94920157e-01, -1.08127043e+00,
         5.25992645e-02, -8.12281911e-01, -9.85551237e-01],
       [ 1.51559699e+00,  7.76868847e-01,  2.51034616e-01,
        -3.15176452e-02, -5.38063577e-02,  6.23439968e-01,
         6.24053196e-02,  1.18691211e+00, -3.02537444e-01],
       [ 8.96985973e-01,  5.07732159e-01,  3.61537892e-01,
        -1.60413502e-01, -1.36954244e-01,  1.56102645e+00,
        -2.92780767e-01, -8.41585810e-01, -1.01323774e+00],
       [-8.96985973e-01, -1.28733566e+00, -1.35726850e-01,
        -6.78421609e-01, -5.45965280e-01, -4.21631393e-01,
        -2.45606840e-01,  2.08608407e-01, -6.31556536e-01],
       [-7.73263770e-01, -6.08650997e-01,  5.82544444e-01,
         4.70058000e+00,  3.68750051e+00, -4.70515130e-01,
         8.36616045e-01, -7.60387751e-01, -8.75092393e-01],
       [-4.02097160e-01,  2.17001865e+00,  5.82544444e-01,
        -3.19181387e-01, -2.37213136e-01,  1.03849607e+00,
        -7.83423618e-01, -2.40490498e-01,  1.15227442e+00],
       [-5.25819364e-01,  9.41816466e-01,  1.95782978e-01,
         1.81201317e+00,  1.28546335e+00,  1.00860737e+00,
         1.61174786e+00, -3.71117303e-01,  6.81651140e-01],
       [ 2.16513856e-01, -2.85522325e-01,  4.16789530e-01,
        -4.70966200e-01, -3.66908758e-01, -1.45199315e-01,
        -1.13390506e+00,  4.39674745e-01, -4.51428555e-01],
       [-1.33001368e+00,  5.03073870e-01, -6.32991592e-01,
        -5.44870371e-01, -4.82538553e-01,  6.44994167e-01,
        -1.62666319e-01,  1.33192428e-01,  6.68279690e-01],
       [ 9.58847075e-01, -4.37980910e-01, -7.43494868e-01,
        -6.95782300e-01, -5.80071285e-01, -1.10218778e-01,
         3.33772693e+00, -9.24213327e-01, -4.08937830e-01],
       [ 5.87680465e-01, -2.42714252e-01, -3.56733402e-01,
        -3.36542078e-01, -3.30134597e-01, -6.42800368e-01,
        -2.50268967e-01,  1.12949564e-02, -7.97025468e-01],
       [ 1.57745809e+00,  6.91955459e-01,  2.51034616e-01,
         7.83949900e-01,  5.47688990e-01,  2.44000223e-01,
        -3.86168871e-02,  4.15052725e-01,  1.49044556e+00],
       [-1.39187479e+00,  8.44052624e-01, -4.67236678e-01,
        -5.29934357e-01, -4.63571438e-01,  9.06040508e-02,
        -3.61819930e-01, -7.35018879e-01,  1.60139343e-01],
       [-1.54652754e-01,  5.44516583e-01, -3.01481764e-01,
        -4.32268347e-01, -3.89008056e-01, -7.79363283e-01,
        -6.58527801e-02, -3.68250355e-01,  2.22763944e+00],
       [ 2.16513856e-01,  6.94746417e-01,  1.96383539e+00,
         1.95293543e+00,  2.07810893e+00,  5.72383856e-01,
        -2.53896641e-01, -2.63289558e-01, -3.97699753e-01],
       [ 1.57745809e+00, -9.32984398e-01, -2.46230126e-01,
        -5.33037945e-01, -4.52666797e-01, -4.82208866e-01,
         1.73389843e+00, -4.41795190e-01,  1.03062155e-01],
       [ 7.11402668e-01,  1.56387881e+00,  1.96383539e+00,
        -1.78841052e-01,  1.82628776e-02, -4.85880710e-01,
         2.41450849e-01, -8.50331204e-01, -1.02136728e+00],
       [-1.51559699e+00,  1.75514978e+00, -4.67236678e-01,
         3.91055154e-01,  1.27454294e-01,  1.18328222e+00,
        -7.22149944e-01,  1.86604384e-01,  2.09614023e-01],
       [ 1.54652754e-01, -9.91574435e-01,  1.40531340e-01,
        -3.03760438e-01, -2.64416735e-01, -6.43049397e-01,
        -8.45419992e-01, -5.27908016e-01, -5.26178653e-01],
       [-3.40236059e-01, -1.88767271e+00,  5.27292806e-01,
        -3.84453706e-01, -2.92548388e-01, -9.23004961e-01,
         3.63318008e-01, -9.29031726e-01, -2.64455615e-02],
       [ 7.73263770e-01, -1.25641425e+00,  9.14054272e-01,
        -3.21121129e-01, -2.10038539e-01,  2.93525076e-01,
        -8.58471115e-01,  7.39020245e-02,  6.03401175e-01],
       [ 6.49541567e-01,  3.68545684e-01, -9.09249782e-01,
        -4.04917984e-01, -4.16646681e-01, -2.72177287e-01,
        -1.13390506e+00, -8.48925838e-01,  1.99663544e-01],
       [ 7.11402668e-01, -1.28580966e+00, -1.01975306e+00,
        -6.56405537e-01, -5.67803564e-01, -9.09085865e-01,
        -4.28875208e-01, -1.61621333e-01,  1.28185473e+00],
       [-1.39187479e+00, -7.08563273e-01, -1.90978488e-01,
         1.13523718e+00,  6.82604919e-01, -5.46002514e-01,
         1.64769867e+00, -2.17892206e-01, -1.26521571e-01],
       [ 1.02070818e+00,  1.87498026e+00,  2.12959031e+00,
        -4.22666624e-01, -2.05224256e-01,  7.61189741e-01,
        -9.72161838e-01, -6.33310500e-01,  8.42184281e-01],
       [ 1.20629148e+00,  2.90559494e-01, -6.88243230e-01,
        -4.47883270e-01, -4.26304248e-01,  8.06323194e-02,
        -4.00477326e-01, -5.40845418e-01,  5.57798755e-01],
       [-5.25819364e-01,  7.10175254e-02, -3.01481764e-01,
        -7.22938688e-01, -5.81956395e-01, -6.09732581e-01,
         3.71069481e-03,  1.06948213e-01,  3.71257416e+00],
       [ 1.14443038e+00, -9.46328529e-02, -5.77739954e-01,
        -4.65243961e-01, -4.29494436e-01, -8.82206697e-01,
        -1.69383183e-01, -5.78356656e-01, -5.89034252e-01],
       [-1.76304140e+00,  1.62327200e+00, -4.67236678e-01,
        -1.37524547e-01, -2.11749640e-01,  2.19727802e+00,
        -7.65483638e-01,  5.35255726e-01, -5.15720078e-01],
       [-7.11402668e-01, -9.29811942e-01,  1.13506082e+00,
        -4.93855156e-01, -3.38719101e-01, -4.79135750e-01,
        -8.36265785e-01, -7.64138072e-01, -1.08997124e-02],
       [ 5.25819364e-01,  6.31337460e-01,  8.52797021e-02,
         4.82057518e-02, -1.75252256e-02,  8.99760778e-01,
        -9.19107112e-01,  4.56940676e-01, -3.95721018e-01],
       [ 1.20629148e+00, -7.97392034e-01,  1.24556410e+00,
        -3.41779381e-01, -1.99336910e-01, -1.20430104e+00,
         4.32938166e-01, -7.76914860e-01, -7.61657557e-01],
       [-1.33001368e+00,  1.50179506e+00, -3.01481764e-01,
        -3.08124857e-01, -3.06585213e-01,  1.24880847e+00,
        -4.57599014e-01,  5.82901664e-01,  4.60405241e-01],
       [-3.40236059e-01, -1.73453144e+00, -1.35726850e-01,
        -5.46034216e-01, -4.55160944e-01, -8.45562439e-01,
        -6.21878779e-01, -7.39459837e-01, -1.36157080e+00],
       [ 8.96985973e-01,  2.89523688e-02,  4.72041168e-01,
         7.95879314e-01,  6.08563568e-01,  1.40195031e+00,
        -1.21018540e+00,  2.76762815e+00, -8.39585623e-01],
       [ 1.76304140e+00, -2.35184689e-01,  3.00280641e-02,
        -5.36529480e-01, -4.39064998e-01, -1.01678798e+00,
        -3.20881066e-01, -4.14788062e-01, -9.15310887e-01],
       [ 3.40236059e-01, -1.86995488e-01,  2.51034616e-01,
        -5.29934357e-01, -4.21431962e-01, -7.73058096e-01,
         1.59049196e+00, -5.98971375e-01, -6.05548955e-01],
       [-1.02070818e+00,  6.15455102e-01,  1.79808048e+00,
         3.09389168e+00,  3.09064543e+00,  2.11849072e-01,
        -5.71799879e-01,  2.22967237e-01,  3.66779844e-01],
       [-1.39187479e+00, -1.26522886e+00, -9.64501420e-01,
        -6.32837671e-01, -5.51939631e-01, -6.60730410e-01,
         4.12915108e-01, -6.31094037e-01, -5.28419326e-01],
       [ 5.25819364e-01,  3.80532748e-01, -5.77739954e-01,
         4.51478118e-01,  1.45261341e-01, -2.77427039e-02,
        -4.12819919e-01,  3.76208396e-01,  3.71257416e+00],
       [-4.63958262e-01,  4.02880490e-01, -1.40651452e+00,
        -1.54982225e-01, -3.25059298e-01,  1.28745025e+00,
         7.58957307e-02,  4.80992519e-01,  2.53878351e-01],
       [-6.49541567e-01, -1.11664549e+00, -5.22488316e-01,
         2.61341759e+00,  1.52713455e+00, -8.94393192e-01,
        -6.17999885e-02, -7.30674289e-01, -6.62859678e-01],
       [ 5.87680465e-01,  1.69485305e+00,  3.06286254e-01,
         5.37214715e-01,  3.76810948e-01,  2.52560866e+00,
        -3.76443989e-01,  6.05644509e-01,  1.08223921e+00]])

In [37]:
clf.fit(X,y)

GridSearchCV(cv=5, error_score='raise',
       estimator=MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'hidden_layer_sizes': [(5, 4), (4, 5), (3, 6), (9,), (8, 1), (6, 3), (1, 8)], 'activation': ['relu', 'tanh', 'logistic'], 'learning_rate_init': [0.01, 0.1, 0.001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [38]:
pd.DataFrame(clf.best_params_)

  activation  hidden_layer_sizes  learning_rate_init
0       relu                   5                0.01
1       relu                   4                0.01

In [39]:
clf.best_score_

0.7065217391304348

In [40]:
predict = clf.predict(X)

In [41]:
accuracy_score(y,predict)

0.9891304347826086

In [42]:
#test

In [43]:
data_test = pd.read_csv('all/test.csv',delimiter=',')

In [44]:
data_test.head()

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,100,62,22.6562,92,3.482,0.7902,9.8648,11.2362,10.6955,703.973
1,78,29,23.0100,82,5.663,1.1454,35.5900,26.7200,4.5800,174.800
2,77,75,25.7000,94,8.079,1.8733,65.9260,3.7412,4.4968,206.802
3,113,44,27.8876,99,9.208,2.2486,12.6757,5.4782,23.0331,407.206
4,86,75,23.0000,83,4.952,1.0138,17.1270,11.5790,7.0913,318.302

In [46]:
id_test = data_test['id']
data_test = data_test.drop('id',axis=1)

In [47]:
data_test.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,62,22.6562,92,3.482,0.7902,9.8648,11.2362,10.6955,703.973
1,29,23.0100,82,5.663,1.1454,35.5900,26.7200,4.5800,174.800
2,75,25.7000,94,8.079,1.8733,65.9260,3.7412,4.4968,206.802
3,44,27.8876,99,9.208,2.2486,12.6757,5.4782,23.0331,407.206
4,75,23.0000,83,4.952,1.0138,17.1270,11.5790,7.0913,318.302

In [48]:
scaler = StandardScaler()  
# Don't cheat - fit only on training data
scaler.fit(data_test)  
data_test = scaler.transform(data_test)  
# apply same transformation to test data
#x_test = scaler.transform(x_test)

In [50]:
pred_test = clf.predict(data_test)

In [51]:
pred_test

array([1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1,
       1, 1])

In [52]:
data_out = {
    'id':id_test,
    'Classification':pred_test
}

In [53]:
classi_out = pd.DataFrame(data_out,columns=['id','Classification'])

In [54]:
classi_out

     id  Classification
0   100               1
1    78               1
2    77               1
3   113               1
4    86               1
5    84               1
6    89               2
7    56               1
8    31               2
9    48               2
10  112               2
11   36               2
12   21               1
13   11               2
14   76               1
15   71               2
16   53               1
17   63               1
18   60               1
19   98               1
20   14               1
21   59               1
22   58               1
23   85               1