In [74]:
# falar sobre a disciplina e prof(link github)

# Projeto prático 4 - Redes Neurais

Alunos do Curso de Sistemas de Informação (EST-UEA): 
- Jackson Kelvin (link user)
- Jailson Pereira (link user)

In [75]:
#Falar sobre o projeto e link do pdf

# Importando bibliotecas

In [76]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPClassifier

- Lendo arquivo

In [77]:
data = pd.read_csv('seeds_dataset.txt',delimiter='\t',header=None,names=['A','P','C','comp_nuc','lar_nuc','coe_ass','comp_sulco','target_alvo'])

In [78]:
data.head(10)

       A      P       C  comp_nuc  lar_nuc  coe_ass  comp_sulco  target_alvo
0  15.26  14.84  0.8710     5.763    3.312    2.221       5.220          1.0
1  14.88  14.57  0.8811     5.554    3.333    1.018       4.956          1.0
2  14.29  14.09  0.9050     5.291    3.337    2.699       4.825          1.0
3  13.84  13.94  0.8955     5.324    3.379    2.259       4.805          1.0
4  16.14  14.99  0.9034     5.658    3.562    1.355       5.175          1.0
5  14.38  14.21  0.8951     5.386    3.312    2.462       4.956          1.0
6  14.69  14.49  0.8799     5.563    3.259    3.586       5.219          1.0
7  14.11  14.10  0.8911     5.420    3.302    2.700         NaN          5.0
8  16.63  15.46  0.8747     6.053    3.465    2.040       5.877          1.0
9  16.44  15.25  0.8880     5.884    3.505    1.969       5.533          1.0

In [79]:
#limpando dados
data_novo = data.dropna(axis=0)

In [80]:
data_novo.head()

       A      P       C  comp_nuc  lar_nuc  coe_ass  comp_sulco  target_alvo
0  15.26  14.84  0.8710     5.763    3.312    2.221       5.220          1.0
1  14.88  14.57  0.8811     5.554    3.333    1.018       4.956          1.0
2  14.29  14.09  0.9050     5.291    3.337    2.699       4.825          1.0
3  13.84  13.94  0.8955     5.324    3.379    2.259       4.805          1.0
4  16.14  14.99  0.9034     5.658    3.562    1.355       5.175          1.0

In [81]:
# separando target
y = data_novo['target_alvo']
X = data_novo.drop('target_alvo',axis=1)

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [82]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [83]:
X.head(10)

        A      P       C  comp_nuc  lar_nuc  coe_ass  comp_sulco
0   15.26  14.84  0.8710     5.763    3.312    2.221       5.220
1   14.88  14.57  0.8811     5.554    3.333    1.018       4.956
2   14.29  14.09  0.9050     5.291    3.337    2.699       4.825
3   13.84  13.94  0.8955     5.324    3.379    2.259       4.805
4   16.14  14.99  0.9034     5.658    3.562    1.355       5.175
5   14.38  14.21  0.8951     5.386    3.312    2.462       4.956
6   14.69  14.49  0.8799     5.563    3.259    3.586       5.219
8   16.63  15.46  0.8747     6.053    3.465    2.040       5.877
9   16.44  15.25  0.8880     5.884    3.505    1.969       5.533
10  15.26  14.85  0.8696     5.714    3.242    4.543       5.314

# Para 3 neurônios nas camadas ocultas

In [84]:
#MLPClassifier(hidden_layer_sizes=(lista[i],),activation='relu', max_iter=20, alpha=1e-4,batch_size=1,
#                    solver='sgd', verbose=10, tol=1e-4, random_state=1,
#                    learning_rate_init=0.001)

In [106]:
#0.5
param1 = {'hidden_layer_sizes':[(1,1),(2,)],'activation':['relu','tanh'], 'max_iter':[10], 'alpha':[1e-4],'batch_size':[1], 'verbose':[10], 'tol':[1e-4], 'random_state':[1],'learning_rate_init':[0.01,0.1,0.001]}

#2
param2 = {'hidden_layer_sizes':[(1,3),(4,),(2,2),(3,1)],'activation':['relu','tanh','identity'], 'max_iter':[10], 'alpha':[1e-4],'batch_size':[1], 'verbose':[10], 'tol':[1e-4], 'random_state':[1],'learning_rate_init':[0.01,0.1,0.001]}

In [107]:
model = MLPClassifier(solver='lbfgs')

In [108]:
clf = GridSearchCV(model,param2,cv=3)

In [109]:
clf.fit(X,y)

GridSearchCV(cv=3, error_score='raise',
       estimator=MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'hidden_layer_sizes': [(1, 3), (4,), (2, 2), (3, 1)], 'activation': ['relu', 'tanh', 'identity'], 'max_iter': [10], 'alpha': [0.0001], 'batch_size': [1], 'verbose': [10], 'tol': [0.0001], 'random_state': [1], 'learning_rate_init': [0.01, 0.1, 0.001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [110]:
predict = clf.predict(X)

In [111]:
accuracy_score(y,predict)

0.6331658291457286

Observação: o solver padrão "adam" funciona muito bem em conjuntos de dados relativamente grandes (com milhares de amostras de treinamento ou mais) em termos de tempo de treinamento e pontuação de validação. No entanto, para conjuntos de dados pequenos, os "lbfgs" podem convergir mais rapidamente e ter melhor desempenho.

In [65]:
import math

In [92]:
a  = pow(14,0.5)

In [93]:
print(a*2)

7.483314773547883