# Projeto pr√°tico 4

Alunos: 
- Jackson Kelvin
- Jailson Pereira

# Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

- Lendo arquivo

In [16]:
data = pd.read_csv('seeds_dataset.txt',delimiter='\t',header=None,names=['A','P','C','comp_nuc','lar_nuc','coe_ass','comp_sulco','target_alvo'])

In [15]:
data.head()

       A      P       C  comp_nuc  lar_nuc  coe_ass  comp_sulco  target_alvo
0  15.26  14.84  0.8710     5.763    3.312    2.221       5.220          1.0
1  14.88  14.57  0.8811     5.554    3.333    1.018       4.956          1.0
2  14.29  14.09  0.9050     5.291    3.337    2.699       4.825          1.0
3  13.84  13.94  0.8955     5.324    3.379    2.259       4.805          1.0
4  16.14  14.99  0.9034     5.658    3.562    1.355       5.175          1.0